*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}
header{
    text-align: right;
}
.main-container{
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.col{
    border: 1px solid black;
    text-align: center;
}
.col.col100{
    width: calc((100% - 20px) / 10);
    height: calc((100% - 20px) / 10);
}
.col.col81{
    width: calc((100% - 18px) / 9);
    height: calc((100% - 18px) / 9);
}
.col.col49{
    width: calc((100% - 14px) / 7);
    height: calc((100% - 14px) / 7);
}